/* 스크롤바 커스텀 Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display:none;
}

body {
  height:10000px;
  margin:0;
}

/* 라이브러리 */


/* 커스텀 */
.section {
  width:calc(1920px - 16px);
}


.box-1 {
  display: inline-block;
  position: absolute;
  left:-500px;
  right:auto;
  margin-top: -900px;
}

.video-1 {
  width: 365px;
  position: absolute;
  top:50%;
  left: 48.5%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
}

.video-2 {
  width: 450px;
  position: absolute;
  top:2%;
  left: 555px;
}

.img-3 {
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  left: 600px;
}